.social-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-icon-link {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-bg-color;
  margin-bottom: 30px;
  -webkit-transition: 250ms $timing;
  transition: 250ms $timing;

  &:hover .social-icon,
  &:focus .social-icon {
    fill: $primary-bg-color;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
