$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$background-color: #f5f4fa;
$background-portfolio: #e5e5e5;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
