.clients-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  transition: 250ms $timing;

  &:hover {
    border: 1px solid $accent-color;
  }

  &:hover .icon-brand {
    fill: $accent-color;
  }
}
.icon-brand {
  fill: #afb1b8;
}

.icon-yaco {
  width: 44px;
  height: 49px;
}

.icon-company {
  width: 40px;
  height: 52px;
}

.icon-company3 {
  width: 41px;
  height: 42px;
}

.icon-foster {
  width: 80px;
  height: 42px;
}

.icon-company5 {
  width: 59px;
  height: 47px;
}

.icon-tag {
  width: 88px;
  height: 45px;
}

.list-clients {
  width: calc((100% - 30px) / 2);
  height: 90px;
  margin-bottom: 30px;

  @include for-size(tablet) {
    width: calc((100% - 30px * 2) / 3);
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
  }
}

.clients {
  margin-top: 60px;

  // @include for-size(tablet) {
  //   margin-bottom: -30px;
  // }
}

.clients-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
